# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# -- Core Maintainers --
# Ben Schellenberger (@bschellenberger-wex) is the primary maintainer.
# The other users listed below can also review changes and provide approvals in an emergency ("break glass" scenario).
# This structure ensures compatibility with upstream changes and keeps this repository aligned with the Chronon community's goals and projects.
# To become a core maintainer, strong familiarity with the Chronon project is required. Please discuss with Ben and management.
* @bschellenberger-wex @mliu-wex @hanjoo-lim-wex @zlgonzalez-wex

# -- Admin Ownership --
# The ai-platform-admins team owns the repository's infrastructure (build, CI/CD, docs, etc.).
# This separation of duties prevents repository lockout and ensures project health.

# Repository Governance & Automation
.github/ @wexinc/ai-platform-admins
opslevel.yml @wexinc/ai-platform-admins

# Build System (Bazel)
**/BUILD.bazel @wexinc/ai-platform-admins
**/*.bzl @wexinc/ai-platform-admins
WORKSPACE @wexinc/ai-platform-admins

# Build System (SBT)
build.sbt @wexinc/ai-platform-admins

# Build & Release Scripts
Makefile @wexinc/ai-platform-admins
build_main_app.sh @wexinc/ai-platform-admins
build_spark_jar.sh @wexinc/ai-platform-admins
push_spark_jar_to_s3.sh @wexinc/ai-platform-admins
docker-scripts/** @wexinc/ai-platform-admins
VERSION @wexinc/ai-platform-admins # AI Platform Admins can adjust this file to update the main app image tag.
VERSION.emr-spark @wexinc/ai-platform-admins # AI Platform Admins can adjust this file to update the EMR Spark image tag.

# Scripts for Development
update_chronon_container.sh @wexinc/ai-platform-admins

# Containerization
Dockerfile @wexinc/ai-platform-admins
docker-compose.yml @wexinc/ai-platform-admins
emr-spark.Dockerfile @wexinc/ai-platform-admins

# Python Environment
requirements_wex.txt @wexinc/ai-platform-admins
requirements_lock.txt @wexinc/ai-platform-admins
requirements_emr_spark.txt @wexinc/ai-platform-admins

# Documentation
*.md @wexinc/ai-platform-admins
docs/ @wexinc/ai-platform-admins
BUILDING_CHRONON_AT_WEX.md @wexinc/ai-platform-admins

# WEX Online Builds
aws_online/ @wexinc/ai-platform-admins
