# ###################################################################
# ### IDE & Editor Configuration
# ###################################################################
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
# This covers .run/*.run.xml files
.run/

# Visual Studio Code
.vscode/

# Eclipse
.eclipse
.project

# Scala & Metals
.bloop/
.metals/
metals.sbt

# ###################################################################
# ### Build Tools & Artifacts
# ###################################################################
# Maven / SBT
target/
*.jar
*.war
*.ear
*.class

# Bazel
bazel-*

# Python
build/
dist/
eggs/
sdist/
*.egg-info/
*.egg
.venv/

# ###################################################################
# ### Language & Framework Cache
# ###################################################################
# Java / Scala
.bsp/
# Python
__pycache__/
*.py[cod]
*$py.class

# Spark
spark-warehouse/
metastore_db/

# ###################################################################
# ### OS-specific & Temporary Files
# ###################################################################
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Optional AFP files
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ###################################################################
# ### Logs, Reports, & Runtime Data
# ###################################################################
*.log
*.logs
derby.log

# Coverage reports
.coverage
htmlcov/

# ###################################################################
# ### Project-Specific & Generated Files
# ###################################################################
aips-chronon-config/
chronon_jars/

# These paths seem specific to generated code or data
api/py/ai/chronon/api/
api/py/ai/chronon/thrift/
api/py/test/sample/production/group_bys/quickstart/
api/py/test/sample/production/joins/quickstart/

# Documentation builds
docs/build/

# Release artifacts
releases/

# Local Maven settings - typically not shared in a project repo
mvn_settings.xml